$primary: #00acc1
$accent: #00838f

body
  font-family: 'Roboto', sans-serif
  background-image: url("/img/bg.png")

ul li
  margin-right: 1em

.greetDiv
  position: relative

.greeting
  font-size: 120px
  font-family: 'Pacifico', cursive
  text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
  position: absolute
  top: -0.2em


.subgreeting
  font-size: 30px
  position: absolute
  top: 7.5em
  left: 1em

#githubBtn
  position: absolute
  top: 22em
  right: 32.8em

#twitterBtn
  position: absolute
  top: 22em
  right: 23.5em

#fccBtn
  position: absolute
  top: 22em
  right: 10.5em

#liBtn
  position: absolute
  top: 22em
  right: 1em

/* Tablet View */

@media (max-width: 1140px)
  .greeting
    font-size: 100px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 23px
    position: absolute
    top: 8.5em
    left: 1em

  #githubBtn
    position: absolute
    top: 19em
    right: 32.8em

  #twitterBtn
    position: absolute
    top: 19em
    right: 23.5em

  #fccBtn
    position: absolute
    top: 19em
    right: 10.5em

  #liBtn
    position: absolute
    top: 19em
    right: 1em

/* Large Phone View */

@media (max-width: 725px)
  .greeting
    font-size: 69px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 20px
    position: absolute
    top: 7em
    left: 1em

  #githubBtn
    position: absolute
    top: 19em
    right: 9em

  #twitterBtn
    position: absolute
    top: 19em
    right: 0em

  #fccBtn
    position: absolute
    top: 23.5em
    right: 9.3em

  #liBtn
    position: absolute
    top: 23.5em
    right: 0em

/* Small Phone View */

@media (max-width: 375px)
  .greeting
    font-size: 53px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 15px
    position: absolute
    top: 8em
    left: 1em

  #githubBtn
    position: absolute
    top: 15em
    right: 9em

  #twitterBtn
    position: absolute
    top: 15em
    right: 0em

  #fccBtn
    position: absolute
    top: 19.5em
    right: 9.3em

  #liBtn
    position: absolute
    top: 19.5em
    right: 0em
