$primary: #3949ab
$accent: #ff6d00
$lightgrey: #eeeeee
$darkgrey: #616161

body
  font-family: 'Roboto', sans-serif
  background-image: url("/img/bg.png")

ul li
  margin-right: 1em

.headContainer
  height: 40em

.aboutContainer
  position: relative
  height: 37.5em

.greetDiv
  position: relative

.greeting
  font-size: 120px
  font-family: 'Pacifico', cursive
  text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
  position: absolute
  top: -0.2em


.subgreeting
  font-size: 30px
  position: absolute
  top: 7.5em
  left: 1em

#githubBtn
  position: absolute
  top: 22em
  right: 32.8em

#twitterBtn
  position: absolute
  top: 22em
  right: 23.5em

#fccBtn
  position: absolute
  top: 22em
  right: 10.5em

#liBtn
  position: absolute
  top: 22em
  right: 1em

.aboutCard
  position: absolute
  background-color: $lightgrey
  width: 100%
  height: 30em
  border-radius: 3px

.headshot
  position: relative
  width: 25em
  border-width: 0.3em
  border-style: solid
  border-color: $primary
  top: 2.5em
  left: 2.5em

.aboutHeader
  position: absolute
  font-size: 45px
  color: $primary
  top: 1.2em
  left: 10.3em

.aboutText
  position: absolute
  font-size: 25px
  top: 5.9em
  left: 18.7em
  right: 2.5em

.skillContainer
  display: flex
  flex-direction: row
  flex-wrap: wrap
  height: auto
  align-items: center
  margin-top: 60px

.skillCard
  flex-basis: auto
  position: relative
  width: 200px
  height: 260px
  margin: 5px 5px
  background-color: $primary
  color: white
  border-radius: 5px

.softSkillCard
  flex-basis: auto
  position: relative
  width: 200px
  height: 50px
  margin: 5px 5px
  background-color: $accent
  color: white
  border-radius: 5px

.skillHeader
  font-size: 50px
  position: absolute
  color: $primary
  top: 23.5em
  left: 5.4em

.softSkillHeader
  font-size: 30px
  position: absolute
  color: $accent
  top: 69.6em
  left: 9em

.skillIcon
  position: absolute
  max-width: 160px
  max-height: 160px
  margin-top: 20px
  right: 20px

.skillName
  position: absolute
  font-size: 25px
  margin-left: 15px
  top: 175px

.softSkillName
  position: absolute
  font-size: 18px
  margin-left: 15px
  top: -6px

.skillInfo
  position: absolute
  font-size: 13px
  font-style: italic
  top: 220px
  margin-left: 15px

.galleryContainer
  display: flex
  flex-direction: row
  flex-wrap: wrap
  height: auto
  align-items: center
  margin-top: 175px

.card
  max-width: 30%
  height: 375px
  margin: 10px
  background-color: $lightgrey
  line-height: normal

.galleryThumb
  height: 175px

.galleryHeader
  font-size: 50px
  position: absolute
  color: $primary
  top: 48em
  left: 5.5em

/* High Res Laptop View */

@media (max-width: 1540px)
  .headContainer
    height: 35em

  .aboutContainer
    position: relative
    height: 34em

  .greeting
    font-size: 100px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 23px
    position: absolute
    top: 8.5em
    left: 1em

  #githubBtn
    position: absolute
    top: 19em
    right: 32.8em

  #twitterBtn
    position: absolute
    top: 19em
    right: 23.5em

  #fccBtn
    position: absolute
    top: 19em
    right: 10.5em

  #liBtn
    position: absolute
    top: 19em
    right: 1em

  .aboutCard
    position: absolute
    background-color: $lightgrey
    width: 100%
    height: 28em
    border-radius: 3px

  .headshot
    position: relative
    width: 15em
    border-width: 0.3em
    border-style: solid
    border-color: $primary
    top: 5.5em
    left: 2.5em

  .aboutHeader
    position: absolute
    font-size: 33px
    color: $primary
    top: 1.3em
    left: 8.5em

  .aboutText
    position: absolute
    font-size: 23px
    top: 4.6em
    left: 12.3em
    right: 2em

  .skillContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: auto
    align-items: center
    margin-top: 60px

  .skillCard
    flex-basis: auto
    position: relative
    width: 200px
    height: 260px
    margin: 5px 5px
    background-color: $primary
    color: white
    border-radius: 5px

  .softSkillCard
    flex-basis: auto
    position: relative
    width: 200px
    height: 50px
    margin: 5px 5px
    background-color: $accent
    color: white
    border-radius: 5px

  .skillHeader
    font-size: 50px
    position: absolute
    color: $primary
    top: 20.9em
    left: 5.4em

  .softSkillHeader
    font-size: 30px
    position: absolute
    color: $accent
    top: 65.3em
    left: 9em

  .skillIcon
    position: absolute
    max-width: 160px
    max-height: 160px
    margin-top: 20px
    right: 20px

  .skillName
    position: absolute
    font-size: 25px
    margin-left: 15px
    top: 175px

  .softSkillName
    position: absolute
    font-size: 18px
    margin-left: 15px
    top: -6px

  .skillInfo
    position: absolute
    font-size: 13px
    font-style: italic
    top: 220px
    margin-left: 15px

  .galleryContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: auto
    align-items: center
    margin-top: 175px

  .card
    max-width: 30%
    height: 375px
    margin: 10px
    background-color: $lightgrey
    line-height: normal

  .galleryThumb
    height: 175px

  .galleryHeader
    font-size: 50px
    position: absolute
    color: $primary
    top: 45.5em
    left: 5.3em

@media (max-width: 1500px)
  .skillHeader
    font-size: 50px
    position: absolute
    color: $primary
    top: 20.9em
    left: 5.4em

  .softSkillHeader
    font-size: 30px
    position: absolute
    color: $accent
    top: 74.2em
    left: 8.5em

  .galleryHeader
    font-size: 50px
    position: absolute
    color: $primary
    top: 52em
    left: 5.3em

/* Large Phone View */
@media (max-width: 1200px)
  .skillHeader
    font-size: 50px
    position: absolute
    color: $primary
    top: 20.2em
    left: 4em

  .softSkillHeader
    font-size: 30px
    position: absolute
    color: $accent
    top: 82.2em
    left: 6.7em

  .galleryContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: auto
    align-items: center
    margin-top: 175px

  .card
    max-width: 45%
    height: 375px
    margin: 10px
    background-color: $lightgrey
    line-height: normal

  .galleryThumb
    height: 175px

  .galleryHeader
    font-size: 50px
    position: absolute
    color: $primary
    top: 57.8em
    left: 4em


@media (max-width: 1080px)
  .headContainer
    height: 36em

  .aboutContainer
    position: relative
    height: 27em

  .greeting
    font-size: 69px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 20px
    position: absolute
    top: 7em
    left: 1em

  #githubBtn
    position: absolute
    top: 19em
    right: 9em

  #twitterBtn
    position: absolute
    top: 19em
    right: 0em

  #fccBtn
    position: absolute
    top: 22.2em
    right: 9.3em

  #liBtn
    position: absolute
    top: 22.2em
    right: 0em

  .aboutCard
    position: absolute
    background-color: $lightgrey
    width: 100%
    height: 23em
    border-style: solid
    border-width: 1px
    border-color: #e0e0e0

  .headshot
    position: relative
    width: 11em
    border-width: 0.4em
    border-style: solid
    border-color: $primary
    top: -3.8em
    left: 3em

  .aboutHeader
    position: absolute
    font-size: 30px
    color: $primary
    top: 1em
    left: 6.5em

  .aboutText
    position: absolute
    font-size: 17px
    top: 6em
    left: 3em
    right: 2em

  .skillContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: auto
    align-items: center
    margin-top: 45px

  .skillCard
    flex-basis: auto
    position: relative
    width: 130px
    height: 190px
    margin: 5px 5px
    background-color: $primary
    color: white
    border-radius: 5px

  .softSkillCard
    flex-basis: auto
    position: relative
    width: 170px
    height: 50px
    margin: 5px 5px
    background-color: $accent
    color: white
    border-radius: 5px

  .skillHeader
    font-size: 40px
    position: absolute
    color: $primary
    top: 23.3em
    left: 4.5em

  .softSkillHeader
    font-size: 25px
    position: absolute
    color: $accent
    top: 64.4em
    left: 7.3em

  .skillIcon
    position: absolute
    max-width: 90px
    max-height: 90px
    margin-top: 20px
    right: 20px

  .skillName
    position: absolute
    font-size: 16px
    margin-left: 15px
    top: 110px

  .softSkillName
    position: absolute
    font-size: 16px
    margin-left: 9px
    top: -2px

  .skillInfo
    position: absolute
    font-size: 11px
    font-style: normal
    top: 136px
    margin-left: 14px

  .card
    max-width: 45%
    height: 375px
    margin: 10px
    background-color: $lightgrey
    line-height: normal

  .galleryThumb
    height: 175px

  .galleryHeader
    font-size: 40px
    position: absolute
    color: $primary
    top: 51.3em
    left: 4.5em

@media (max-width: 992px)
  .skillHeader
    font-size: 40px
    position: absolute
    color: $primary
    top: 22.5em
    left: 2.5em

  .softSkillHeader
    font-size: 25px
    position: absolute
    color: $accent
    top: 63.1em
    left: 3.8em

  .galleryHeader
    font-size: 40px
    position: absolute
    color: $primary
    top: 49em
    left: 2.5em

@media (max-width: 822px)
  .headContainer
    height: 36em

  .aboutContainer
    position: relative
    height: 27em

  .greeting
    font-size: 69px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 20px
    position: absolute
    top: 7em
    left: 1em

  #githubBtn
    position: absolute
    top: 19em
    right: 9em

  #twitterBtn
    position: absolute
    top: 19em
    right: 0em

  #fccBtn
    position: absolute
    top: 22.2em
    right: 9.3em

  #liBtn
    position: absolute
    top: 22.2em
    right: 0em

  .aboutCard
    position: absolute
    background-color: $lightgrey
    width: 100%
    height: 23em
    border-style: solid
    border-width: 1px
    border-color: #e0e0e0

  .headshot
    position: relative
    width: 9em
    border-width: 0.4em
    border-style: solid
    border-color: $primary
    top: -3.8em
    left: 3em

  .aboutHeader
    position: absolute
    font-size: 23px
    color: $primary
    top: 0.7em
    left: 7.3em

  .aboutText
    position: absolute
    font-size: 17px
    top: 4em
    left: 3em
    right: 2em

  .skillContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: auto
    align-items: center
    margin-top: 45px

  .skillCard
    flex-basis: auto
    position: relative
    width: 130px
    height: 190px
    margin: 5px 5px
    background-color: $primary
    color: white
    border-radius: 5px

  .softSkillCard
    flex-basis: auto
    position: relative
    width: 170px
    height: 50px
    margin: 5px 5px
    background-color: $accent
    color: white
    border-radius: 5px

  .skillHeader
    font-size: 30px
    position: absolute
    color: $primary
    top: 30.7em
    left: 2.5em

  .softSkillHeader
    font-size: 18px
    position: absolute
    color: $accent
    top: 99.6em
    left: 3.8em

  .skillIcon
    position: absolute
    max-width: 90px
    max-height: 90px
    margin-top: 20px
    right: 20px

  .skillName
    position: absolute
    font-size: 16px
    margin-left: 15px
    top: 110px

  .softSkillName
    position: absolute
    font-size: 16px
    margin-left: 9px
    top: -2px

  .skillInfo
    position: absolute
    font-size: 11px
    font-style: normal
    top: 136px
    margin-left: 14px

  .card
    max-width: 45%
    height: 375px
    margin: 10px
    background-color: $lightgrey
    line-height: normal

  .galleryThumb
    height: 145px

  .galleryHeader
    font-size: 30px
    position: absolute
    color: $primary
    top: 74.8em
    left: 2.5em

/* Small Phone View */

@media (max-width: 660px)
  .skillHeader
    font-size: 30px
    position: absolute
    color: $primary
    top: 30.7em
    left: 2.5em

  .softSkillHeader
    font-size: 18px
    position: absolute
    color: $accent
    top: 110.8em
    left: 3.8em

  .galleryHeader
    font-size: 30px
    position: absolute
    color: $primary
    top: 81.5em
    left: 2.5em

@media (max-width: 550px)
  .headContainer
    height: 30em

  .aboutContainer
    position: relative
    height: 13em

  .greeting
    font-size: 53px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 15px
    position: absolute
    top: 8em
    left: 1em

  #githubBtn
    position: absolute
    top: 15em
    right: 9em

  #twitterBtn
    position: absolute
    top: 15em
    right: 0em

  #fccBtn
    position: absolute
    top: 18.3em
    right: 9.3em

  #liBtn
    position: absolute
    top: 18.3em
    right: 0em

  .aboutCard
    position: absolute
    background-color: $lightgrey
    width: 100%
    height: 12em
    border-style: solid
    border-width: 1px
    border-color: #e0e0e0

  .headshot
    position: relative
    width: 6em
    border-width: 0.2em
    border-style: solid
    border-color: $primary
    top: -2.5em
    left: 2em

  .aboutHeader
    position: absolute
    font-size: 17px
    color: $primary
    top: 0.3em
    left: 7em

  .aboutText
    position: absolute
    font-size: 13px
    top: 3em
    left: 2.5em
    right: 4em

  .skillContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: auto
    align-items: center
    margin-top: 45px

  .skillCard
    flex-basis: auto
    position: relative
    width: 85px
    height: 120px
    margin: 3px 3px
    background-color: $primary
    color: white
    border-radius: 5px

  .softSkillCard
    flex-basis: auto
    position: relative
    width: 110px
    height: 30px
    margin: 5px 5px
    background-color: $accent
    color: white
    border-radius: 5px

  .skillHeader
    font-size: 20px
    position: absolute
    color: $primary
    top: 33em
    left: 1.5em

  .softSkillHeader
    font-size: 20px
    position: absolute
    color: $accent
    top: 54.2em
    left: 1.5em

  .skillIcon
    position: absolute
    max-width: 70px
    max-height: 70px
    margin-top: 11px
    right: 7px

  .skillName
    position: absolute
    font-size: 12px
    margin-left: 2px
    top: 69px

  .softSkillName
    position: absolute
    font-size: 10px
    margin-left: 5px
    top: -3px

  .skillInfo
    position: absolute
    font-style: normal
    font-size: 7px
    top: 92px
    margin-left: 3px

  .galleryContainer
    margin-top: 100px

  .card
    max-width: 95%
    height: 350px
    margin: 10px
    background-color: $lightgrey
    line-height: normal

  .galleryThumb
    height: 200px

  .galleryHeader
    font-size: 20px
    position: absolute
    color: $primary
    top: 69.3em
    left: 1.5em

@media (max-width: 506px)
  .skillHeader
    font-size: 20px
    position: absolute
    color: $primary
    top: 33em
    left: 1.5em

  .softSkillHeader
    font-size: 20px
    position: absolute
    color: $accent
    top: 60.5em
    left: 1.5em

  .galleryHeader
    font-size: 20px
    position: absolute
    color: $primary
    top: 75.6em
    left: 1.5em

@media (max-width: 400px)
  .headContainer
    height: 30em

  .aboutContainer
    position: relative
    height: 10.3em

  .greeting
    font-size: 53px
    font-family: 'Pacifico', cursive
    text-shadow: 10px 10px rgba(0, 0, 0, 0.12)
    position: absolute
    top: -0.2em


  .subgreeting
    font-size: 15px
    position: absolute
    top: 8em
    left: 1em

  #githubBtn
    position: absolute
    top: 15em
    right: 9em

  #twitterBtn
    position: absolute
    top: 15em
    right: 0em

  #fccBtn
    position: absolute
    top: 18.5em
    right: 9.3em

  #liBtn
    position: absolute
    top: 18.5em
    right: 0em

  .aboutCard
    position: absolute
    background-color: $lightgrey
    width: 100%
    height: 10em
    border-style: solid
    border-width: 1px
    border-color: #e0e0e0

  .headshot
    position: relative
    width: 4em
    border-width: 0.2em
    border-style: solid
    border-color: $primary
    top: -1.5em
    left: 1em

  .aboutHeader
    position: absolute
    font-size: 14px
    color: $primary
    top: 0em
    left: 5em

  .aboutText
    position: absolute
    font-size: 11px
    top: 2.5em
    left: 2em
    right: 0.8em

  .skillContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: auto
    align-items: center
    margin-top: 45px

  .skillCard
    flex-basis: auto
    position: relative
    width: 46%
    height: 60px
    margin: 3px 3px
    background-color: $primary
    color: white
    border-radius: 5px

  .softSkillCard
    flex-basis: auto
    position: relative
    width: 100px
    height: 30px
    margin: 5px 5px
    background-color: $accent
    color: white
    border-radius: 5px

  .skillHeader
    font-size: 20px
    position: absolute
    color: $primary
    top: 31em
    left: 1.5em

  .softSkillHeader
    font-size: 20px
    position: absolute
    color: $accent
    top: 56.4em
    left: 1.5em

  .skillIcon
    position: absolute
    max-width: 40px
    max-height: 40px
    margin-top: 11px
    left: 13px

  .skillName
    position: absolute
    font-size: 12px
    left: 60px
    top: -3px

  .softSkillName
    position: absolute
    font-size: 9px
    margin-left: 5px
    top: -1px

  .skillInfo
    position: absolute
    font-style: normal
    font-size: 7px
    top: 20px
    left: 60px

  .card
    max-width: 95%
    height: 300px
    margin: 10px
    background-color: $lightgrey
    line-height: normal

  .galleryThumb
    height: 150px
